.contact{
    background-color: black;
    width: 100%;
    height: 94.75vh;
    .content{
        background-color: black;
        .left{
            margin-top: 25%;
            color: #00e674;
        }
        .right{
            margin-top: 25%;
            color: #00e674;
        }
    }
}