.contact{
    background-color: #4cace1;
    width: 100%;
    height: 94.75vh;
    .content{
        background-color: #4cace1;
        .left{
            margin-top: 25%;
            color: white;
        }
        .right{
            margin-top: 25%;
            color: white;
        }
    }
}