.wholepage{
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main{
  .title{
      color: #00e674;
  }
  .navbar-toggler-icon{
      background-color: #00e674;
  }
  .menu{
      .nav-item{
          .nav-link{
              color: #00e674;
          }
          .nav-link:hover{
              color: greenyellow;
          }
          .disabled{
              color: rgb(56, 92, 2);
          }
          .active{
              color: greenyellow;
          }
      }
  }
  background-color: black;
}

.footer{
  z-index: 100;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
